.text-button {
    text-decoration: none !important;
    background-color: transparent; /* removes any background */
    color: #9b1f27 !important;
    border: none; /* removes the border */
    padding: 0; /* removes padding if you want the button to be just like text */
    box-shadow: none; /* removes box shadow if present */
    position: absolute; 
    bottom: 10%;
    right: 15%;
    transform: rotate(90deg);
    transform-origin: bottom right; /* Ensures rotation doesn't move the button */
    z-index: 1000; /* Ensure it's above other items */
    font-size: larger;
    font-family: Arial, sans-serif !important;
    font-weight: bolder;
  }
  
  
