.text-button {
    color: inherit; /* or any color you want */
    text-decoration: none; /* removes the underline */
    background-color: transparent; /* removes any background */
    border: none; /* removes the border */
    padding: 0; /* removes padding if you want the button to be just like text */
    box-shadow: none; /* removes box shadow if present */
    position: absolute; 
    bottom: 10%;
    right: 10%;
    transform: rotate(90deg);
    transform-origin: bottom right; /* Ensures rotation doesn't move the button */
    z-index: 1000; /* Ensure it's above other items */
    font-size: larger;
  }
  
  .rotated-button {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE 9 */
    -o-transform: rotate(90deg); /* Opera */
    cursor: pointer; /* optional: changes the cursor to indicate it's clickable */
  }
  